.block {
  max-width: 1312px;
  margin: 0px 64px 48px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 708px;
  background: #f3f4f7;
  border-radius: 48px;

  @media (max-width: $md3+px) {
    margin: 0px 10px 20px 10px;
    padding: 24px 28px 0px 28px;
    min-height: 600px;
  }

  @media (max-width: $md4+px) {
    margin: 0px 0px 20px 0px;
    padding: 26px 16px 0px 16px;
  }

  @media (min-width: 1440px) {
    width: 90vw;
    margin: 0 auto;
    max-width: none;
  }

  @media (min-width: 1920px) {
    margin: 0 auto;
    max-width: 1728px;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: $dark_grey;
  margin: 0px 0px 24px 0px;

  @media (max-width: $md3+px) {
    font-size: 32px;
    margin: 0px 0px 18px 0px;
  }
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 146%;
  color: #677b8f;
  margin: 0px 0px 40px 0px;

  @media (max-width: $md3+px) {
    margin: 0px 0px 26px 0px;
  }
}

.btn {
  width: 161px;
}
